@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #f3ecec;
    background-image: url('/gg.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the whole background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scroll */
  }
}


@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5];
  }
  .tags{
    background-color: aqua;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #f3ecec;
    font-size: 12px;
  }

  .tags:last-child {
    margin-right: 0;
  }

  .tags:nth-child(2){
    background-color: rgb(3, 3, 49);
  }

  
  .tags:nth-child(3){
    background-color: rgb(12, 79, 223);
  }

  
  .tags:nth-child(4){
    background-color: rgb(49, 3, 34);
  }

  

}